certifi==2019.3.9
tensorflow==2.7.2
chardet==3.0.4
Click==7.0
Flask==1.0.3
h5py==2.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
MarkupSafe==1.1.1
numpy==1.16.1
opencv-python==4.1.0.25
openscoring==0.5.0
panda==0.3.1
pandas==0.24.1
Pillow==6.2.0
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1.1
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn-pandas==1.8.0
sklearn2pmml==0.43.0
urllib3==1.24.2
Werkzeug==0.15.4

