body {
  background-image: url(images/background_blanc.png);  }

#atoslogo{
background-image: url(images/atos_logo.png);
}
#gendarmerielogo{
  background-image: url(images/GN_logo.png);
}

#upload-form{
  color : #0073ae;
}